body {
   background-image:
   url("CapaOcarinaOfTime.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
